<ion-app>
  <ion-toolbar>
    <ion-split-pane contentId="main-content">
      <ion-menu side="start" contentId="main-content">
        <ion-accordion-group>
          <ion-accordion>
            <ion-item slot="header">
  
            </ion-item>
            <div slot="content">
              <ion-item>Categorias</ion-item>
            </div>
          </ion-accordion>
        </ion-accordion-group>
  
        <ion-accordion-group>
          <ion-accordion>
            <ion-item slot="header">Sesion</ion-item>
            <ion-list slot="content">
              <ion-item>Cerrar Sesion</ion-item>
            </ion-list>
          </ion-accordion>
        </ion-accordion-group>
      </ion-menu>
    </ion-split-pane>  
  </ion-toolbar>
  
</ion-app>
    

