.header-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-left: -30px;
  }

  .centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .shadowed-heading {
    margin-top: 5px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  h1{
    color: orange;
  }