

<!-- MENU ORIGINAL:-->
<!--
  <ion-menu contentId="main-content" type="overlay">

    <ion-content>
      <ion-list id="inbox-list">
        <ion-list-header>Menu</ion-list-header>

        <ion-list id="labels-list" >
          <ion-button (click)="goMiPerfil()"><ion-icon name="person-circle-outline" slot="start"></ion-icon> Mi Perfil </ion-button>
        </ion-list>

        <ion-list id="labels-list">
          <ion-button (click)="goToMisCompras()"><ion-icon name="cart-outline"></ion-icon> Mis Compras</ion-button> 
        </ion-list>

        <ion-list>
          <ion-accordion-group>
            <ion-button (click)="toggleCategories()">Categorias</ion-button>
              <ion-list *ngIf="showCategories">
                <ion-accordion *ngFor="let categoria of categorias">
                  <ion-item slot="header" id="categoria.id" (click)="verProductosPorCategoria(categoria.id)"> {{categoria.nombre}}</ion-item>
              </ion-accordion>
            </ion-list>
          </ion-accordion-group>
        </ion-list>

        <ion-list id="labels-list" >
          <ion-button (click)="logout()">Cerrar sesión</ion-button> 
        </ion-list>

      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet> -->


  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <ion-list id="inbox-list">
        <ion-list-header color="secondary">Menu</ion-list-header>

        <ion-item button (click)="goToHome()" color="secondary">
          <ion-icon name="home-outline" slot="start"></ion-icon>
          <ion-label><strong>Home</strong></ion-label>
        </ion-item>
  
        <ion-item button (click)="goToMiPerfil()" color="secondary">
          <ion-icon name="person-circle-outline" slot="start"></ion-icon>
          <ion-label><strong>Mi Perfil</strong></ion-label>
        </ion-item>

        <ion-item button (click)="logout()" color="secondary">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          <ion-label><strong>Cerrar sesión</strong></ion-label>
        </ion-item>

        <ion-item button (click)="goToMisCompras()" color="secondary">
          <ion-icon name="cart-outline" slot="start"></ion-icon>
          <ion-label><strong>Mis Compras</strong></ion-label>
        </ion-item>

        <ion-item button (click)="goToReclamos()" color="secondary">
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-label><strong>Mis Reclamos</strong></ion-label>
        </ion-item>
  
        <ion-item button (click)="toggleCategories()" color="secondary">
          <ion-icon name="grid-outline" slot="start"></ion-icon>
          <ion-label><strong>Categorías</strong></ion-label>
          <ion-icon name="chevron-down" slot="end"></ion-icon>
        </ion-item>
        <ion-list *ngIf="showCategories">
          <ion-item *ngFor="let categoria of categorias" button (click)="verProductosPorCategoria(categoria.id, categoria.nombre)" color="primary">
            <ion-label><strong>{{ categoria.nombre }}</strong></ion-label>
          </ion-item>
        </ion-list>
        <div class="image-container">
          <img src="assets/carritoNormal.jpg" alt="un carrito normal, que cualquier familia puede
          darse el lujo de tener">
        </div>
        <div class="image-container">
          <img src="assets/carritoNormalito.jpg" alt="un carrito normal, que cualquier familia puede
          darse el lujo de tener">
        </div>
      </ion-list>

    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
  
  
  

  
  
  