<div class="wrapper fadeInDown">
  <div id="formContent">
    <p></p>

    <!-- Icono -->
    <div class="fadeIn first">
      <img src="assets/logo.png" id="icon" alt="User Icon" />
    </div>
    <h2 class="a"></h2>
    <!-- Formulario de registro -->
    <form>
      <input type="text" id="nombre" class="fadeIn second" placeholder="Ingresa tu Nombre" formControlName="Nombre" [formControl]="nameFormControl" />

      <input type="text" id="apellido" class="fadeIn second" placeholder="Ingresa tu Apellido" formControlName="Apellido" [formControl]="apellidoFormControl" />

      <input type="text" id="email" class="fadeIn second" placeholder="Ingresa tu Email" formControlName="Email" [formControl]="emailFormControl" />

      <input type="text" id="ci" class="fadeIn second" placeholder="Ingresa tu Cedula" formControlName="Cedula" [formControl]="cedulaFormControl" />
      <ion-item>
        <input
          type="{{ visibility ? 'password' : 'text' }}"
          id="pass"
          class="fadeIn third"
          placeholder="Ingresa tu contraseña"
          formControlName="Contraseña"
          [formControl]="passwordFormControl"
        />
        <ion-icon name="eye-outline" (click)="toggleVisibility()"></ion-icon>
      </ion-item>

      <input type="submit" class="fadeIn fourth" value="Registrarse" (click)="onRegister()" />
    </form>

    <!-- Recuperar contraseña -->
    <div id="formFooter">
      <a class="underlineHover" href="login">Volver al login</a>
    </div>
  </div>
</div>
