#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.product-container {
  display: flex;
  align-items: center;
  display: block;
}

.product-info {
  margin: auto;
  color: rgb(8, 50, 164);
  text-align: center;
}

.estilo-contenido {
  margin: auto;
  color: rgb(8, 50, 164);
  text-align: start;
}

.imagen {
  width: 200px;
  height: 200px;
  margin: auto;
  display: block;
}

ion-fab-button {
  height: 70px;
  width: 70px;
}
