<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title class="header-title">Carrito</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="container">
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="6" *ngFor="let producto of productosCarrito">
        <ion-card>
          <div class="product-container">
            <ion-col size="8">
              <div class="product-info">
                <p class="nombreProducto">
                  <strong>{{ producto.nombre }}</strong>
                </p>
                <p class="precioProducto">$ {{ producto.precio }} X {{ producto.cantidadSeleccionada }} = $ {{producto.precio*producto.cantidadSeleccionada}}</p>
              </div>
            </ion-col>
            <ion-button fill="clear" (click)="agregarProductoCarrito(producto.id)">
              <ion-icon name="add"></ion-icon>
            </ion-button>
            <ion-button fill="clear" (click)="quitarProductoCarrito(producto.id)" class="botonQuitar">
              <ion-icon name="trash-bin-sharp" color="red"></ion-icon>
            </ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>

    <div class="etiqueta">Total de la compra: $ {{precioTotal}}</div>
    <div class="etiqueta" *ngIf="cupon">Cupon del usuario: $ {{cupon}}</div>
    <div class="etiqueta">Total a pagar: $ {{precioTotal - cupon}}</div>

    <div>
      <ion-list>
        <ion-radio-group>
          <ion-item (click)="seleccionarRetiroLocal()">
            <ion-label>Retiro en local</ion-label>
            <ion-radio value="retiro"></ion-radio>
          </ion-item>

          <ion-item (click)="seleccionarEnvioDomicilio()">
            <ion-label>Envío a domicilio</ion-label>
            <ion-radio value="envio"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <ion-item *ngIf="envioDomicilio === true">
        <ion-label>Seleccione la dirección de envío</ion-label>
        <ion-select [(ngModel)]="idDireccion" [disabled]="retiroEnLocal">
          <ion-select-option *ngFor="let dir of direccionCompleta" [value]="dir.id">{{dir.direccionCompleta}}</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
  </ion-grid>

  <div class="center-button">
    <ion-button class="volver" (click)="goToHomeCategory()">
      <ion-icon name="caret-back-outline"></ion-icon>
      Volver
    </ion-button>
    <ion-button class="carrito" (click)="pago()" [disabled]="!retiroEnLocal && !envioDomicilio && productosCarrito">
      Comprar
      <ion-icon name="cart" class="cart-icon"></ion-icon>
    </ion-button>
  </div>
</ion-content>
