ion-header {
    --ion-background-color: blue;
    --color: white;
  }
  
  // Estilos para el contenido
  ion-content {
    --ion-background-color: white;
    --color: black;
  }
  
  // Estilos para el botón de hamburguesa
  ion-menu-button {
    --color: black;
  }
  
  ion-menu-button {
    color: var(--ion-color-primary);
  }
  
  h1{
    color: orange;
  }

  h2{
    color: orange;
  }

  .centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .shadowed-heading {
    margin-top: 5px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  #container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }

  .product-container {
    display: flex;
    align-items: center;
  }
  
  .product-info {
    margin-left: 20px; /* Ajusta el espacio entre la imagen y el texto */
    color: black;
  }
  .imagen {
    width: 60px;
    height: 60px;
    margin-left: 5px;
  }

  .btnEdit{
    margin-left: 270px;
  }

  .btnDomicilio{
    margin-left: 200px;
  }

  .direcciones{
    margin: auto;
  }