<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title class="header-title">Mi Perfil</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

 <ion-content [fullscreen]="true">
  <app-sidebar></app-sidebar>
  
  <div class="profile-container">
    <ion-grid class="container">
      <form>
        <ion-row>
          <ion-col>
            <ion-item class="campo">
              <ion-label><strong>Nombre:</strong> {{usuario?.nombre}} </ion-label>
            </ion-item>
            <ion-item class="campo">
              <ion-label><strong>Apellido:</strong> {{usuario?.apellido}}</ion-label>
            </ion-item>
            <ion-item class="campo">
              <ion-label><strong>Cedula:</strong> {{usuario?.cedula}}</ion-label>
            </ion-item>
            <ion-item class="campo">
              <ion-label><strong>Correo:</strong> {{usuario?.email}}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  
    <div class="centered-container">
      <ion-button color="primary" class="btnEdit" (click)="goToEditPerfil()">
        <ion-icon name="create"></ion-icon>Editar
      </ion-button>
    </div>
  
    <div class="centered-container">
      <h2 class="shadowed-heading">Direcciones</h2>
    </div>
  
    <ion-grid class="container">
      <form>
        <ion-row>
          <ion-col>
            <ion-item class="campo" *ngFor="let dir of direccionCompleta">
              <ion-textarea
                [autoGrow]="true"
                value= {{dir.direccionCompleta}}>
              </ion-textarea>
              <ion-button fill="clear" class="botonQuitar" (click)="quitarDireccion(dir.id)">
                <ion-icon name="trash-bin-sharp" color="red"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  
    <div class="centered-container">
      <ion-button color="primary" class="btnDomicilio" (click)="goToDomicilio()">
        <ion-icon name="home"></ion-icon> Alta Domicilio
      </ion-button>
    </div>
  </div>
  
  
</ion-content> 
