<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="centered-container">
    <h1 class="shadowed-heading">Historico de compras</h1>
  </div>
  
  <ion-grid class="container" >
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="6" *ngFor="let com of compra" >
        <ion-card class="card">
          <div>
            <p>Fecha: {{fechaCompra(com)}}</p>
            <p>Comprado en: {{com.nombreLocal}}</p>
            <p>Estado: {{com.descripcionEstado}}</p>
            <p>Precio total:{{com.total}}</p>
          </div>
          <div>
            <ion-button>
              Reclamos
            </ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div>
    <ion-button (click)="volver()">
      volver
    </ion-button>
  </div>

</ion-content>
