
<div class="wrapper fadeInDown">
  <div id="formContent">
    <p></p>
    <p class="ex2">Bienvenido!</p>

    <!-- Icono -->
    <div class="fadeIn first">
      <img src="assets/logo.png" id="icon" alt="User Icon" />
    </div>
    <h2 class="a"></h2>
    <!-- Formulario de recuperar contraseña -->
    <form>
      <input type="text" id="login" class="fadeIn second" placeholder="Ingrese su email" formControlName="usuario" [formControl]="emailFormControl">
      <input type="submit" class="fadeIn fourth" value="Recuperar contraseña" (click)="resetPassword()">
    </form>

    <!-- Recuperar contraseña -->
    <div id="formFooter">
      <a class="underlineHover" href="login">Volver al login</a>
    </div>
  </div>
</div>