
<div class="wrapper fadeInDown">
  <div id="formContent">
    <p></p>
    <p class="ex2">Bienvenido!</p>

    <!-- Icono -->
    <div class="fadeIn first">
      <img src="assets/logo.png" id="icon" alt="User Icon" />
    </div>
    <h2 class="a"></h2>
    <!-- Formulario de recuperar contraseña -->
    <form [formGroup]="recuperarPassForm" (ngSubmit)="onResetPassword(recuperarPassForm.value)">
      <input type="text" id="login" class="fadeIn second" placeholder="correo..." formControlName="usuario">
      <input type="submit" class="fadeIn fourth" value="Recuperar contraseña">
    </form>

    <!-- Recuperar contraseña -->
    <div id="formFooter">
      <a class="underlineHover" href="recuperar-contraseña">Recuperar su contraseña</a>
    </div>
  </div>
</div>