<div class="wrapper fadeInDown">
  <div id="formContent">
    <p></p>
    <p class="ex2">Bienvenido!</p>

    <!-- Icono -->
    <div class="fadeIn first">
      <img src="assets/logo.png" id="icon" alt="User Icon" />
    </div>
    <h2 class="a"></h2>
    <!-- Formulario de inicio de sesión -->
    <form (ngSubmit)="login()">
      <input type="text" id="login" class="fadeIn second" placeholder="Ingrese su correo" [formControl]="emailFormControl" />
      <input type="{{ visibility ? 'password' : 'text' }}" id="pass" class="fadeIn third" placeholder="Ingrese su contraseña" [formControl]="passwordFormControl" />
      <div class="fadeIn fourth">
        <ion-icon name="eye-outline" class="ion-color-black agrandar-icono" (click)="toggleVisibility()"></ion-icon>
      </div>

      <div class="fadeIn fourth"></div>

      <input type="submit" class="fadeIn fourth" value="Iniciar Sesión" />
    </form>

    <!-- Recuperar contraseña -->
    <div id="formFooter">
      <a class="underlineHover" href="recuperar-contrasena">Recuperar su contraseña</a>
    </div>
    <div id="formFooter">
      <a class="underlineHover" href="registrarse">Registrarse</a>
    </div>
  </div>
</div>
