ion-header {
  --ion-background-color: blue;
  --color: white;
}

// Estilos para el contenido
ion-content {
  --ion-background-color: white;
  --color: black;
}

// Estilos para el botón de hamburguesa
ion-menu-button {
  --color: black;
}

ion-menu-button {
  color: var(--ion-color-primary);
}

.titulo {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  ion-card-content {
    padding: 20px;
  }
  
  ion-item {
    margin-bottom: 10px;
  }
  
  .caracteres-contador {
    font-size: 12px;
    color: gray;
    margin-top: 5px;
  }
  
  ion-button {
    margin-top: 20px;
  }

  .header-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-left: -30px;
  }
  