ion-menu {
  --background: #fff; /* Color de fondo del sidemenu */
  --width: 300px; /* Ancho del sidemenu */
  margin-top: 55px;
}

ion-list {
  background-color: var(--ion-toolbar-background);
}

ion-list {
  ion-list-header {
    color: black; /* Color de fondo del encabezado */
    background-color: #ff8a00; /* Color del texto del encabezado */
    font-weight: 500;
    font-size: large;
  }

  ion-item {
    ion-label {
      color: #333; /* Color del texto de los elementos del menú */
    }

    &.active {
      background-color: #eee; /* Color de fondo del elemento activo */
    }

    ion-icon {
      color: white; /* Color de los iconos del menú */
    }
  }
}

ion-router-outlet {
  margin-left: 300px; /* Margen izquierdo para dar espacio al sidemenu */
}
